<span class="newsletter_title">Sign up for discounts, early access to new products, inspiration, and more.</span>


<form action="">
<input type="text" placeholder="Email Address"> <input type="submit" value="Subscribe">
</form>
<ul>
<li>social 1</li>
<li>social 2</li>
<li>social 3</li>
</ul>